<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Html bilan ishlash</title>
</head>

<body>
    <h1>Send email name</h1>
    <form method="post" action="/">
        <input name="name" type="name" placeholder="Enter your email">
        <button type="submit">Send email</button>
    </form>
    <a href="/about">About</a>
    <a href="/contact">contact</a>
</body>

</html>